body
  div(
    class="mdl-grid"
  )
    div(
      class="mdl-cell mdl-cell--12-col"
    )
      a(
        class="logoutLink"
        href="/login"
      ) Log out
    div(
      class="mdl-cell mdl-cell--6-col"
    )
      h1 Blackbird
      h4 Welcome home